:root {
  --primary-color: #4453b7;
  --font-family: "Inter", sans-serif;
  --background: #f7f7fb;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
  /* overflow-x: hidden; */
  background: var(--background);
  display: flex;
}

.sidebar {
  position: fixed;
  height: 100%;
  width: 250px;
  background: #fff;
  transition: all 0.5s ease;
  display: flex;
  flex-direction: column;
  gap: 7rem;
}

.sidebar .logo {
  display: block;
  margin: 20% auto;
}

.nav ul li {
  list-style: none;
  display: flex;
  padding: 16px 38px 16px 32px;
  align-items: center;
  gap: 16px;
}

.nav ul li a {
  text-decoration: none;
  color: #000;
  transition: all 0.3s ease;
  color: #4f505e;
  font-family: Satoshi;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  cursor: pointer;
}

.sidebar button {
  margin-top: 20px;
  margin-left: 32px;
  padding: 16px 28px;
  border-radius: 8px;
  background: rgba(68, 79, 183, 0.5);
  border: none;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
  width: fit-content;
}

/* General styling for the dashboard content */

.dashboard {
  flex: 1;
  padding-left: 250px;
  transition: padding-left 0.5s ease;
}





.messages {
  flex: 1;
  padding-left: 250px;
  transition: padding-left 0.5s ease;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  color: #fff;
}

/* End here */

/* Sidebar content header */

.header .header-upper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.header .header-upper h2 {
  color: #4f505e;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.header .header-upper .header-input {
  position: relative;
  display: inline-flex;
  padding: 16px;
  justify-content: center;
  align-items: center;
}

.header .header-upper .header-input input {
  padding: 10px 20px;
  border-radius: 8px;
  outline: none;
  border-radius: 4px;
  border: 1px solid #a8a9b4;
  background: #fff;
  width: 20rem;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  transition: all 0.3s ease;
}

.header .header-upper .header-input input::placeholder {
  color: #969696;
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.header .header-upper .header-input img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
}

.header .header-upper .header-icons {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header .header-upper .header-icons img {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.header .header-upper .header-icons .border {
  padding: 6px 8px;
  border-radius: 100%;
  background: #fff;
  border: 1px solid #000;
}

.header .header-down {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 40px;
  width: 100%;
  margin-top: 5%;
  color: #676767;
  padding: 2% 4%;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
}

.header .header-down .header-down-one {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.header .header-down .header-down-one .section-one {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.header .header-down .header-down-one .section-one h2 {
  color: #848cd9;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.header .header-down .header-down-one .section-one h2 > span {
  color: #4f505e;
  font-size: 12px;
  font-style: italic;
  font-weight: 400;
  line-height: normal;
}

.header .header-down .header-down-one .section-one .email {
  color: #4f505e;
  font-size: 14px;
  font-style: italic;
  font-weight: 300;
  line-height: normal;
}

.header .header-down-two {
  display: flex;
}

.header .header-down-two div {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0 25px;
  border-right: 2px solid #e5e5e5;
}

.header .header-down-two span {
  color: #676767;
  font-size: 16px;
  font-style: normal;
  font-weight: bolder;
  line-height: normal;
}

/* Content section */
/* .content {
    padding: 20px;
  } */

.top-content {
  display: inline-flex;
  align-items: center;
  gap: 95px;
  background: #fff;
  width: 100%;
  padding: 2% 0 2% 4%;
}

.top-content .first {
  color: #4f505e;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.top-content:nth-child(1) {
  color: #676767;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.top-content p > span {
  color: #848cd9;
}

.card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
}

.card_flex {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card__header {
  display: flex;
  justify-content: space-between;
}

.card__header__left p {
  color: #4f505e;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.card__body {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  color: #4f505e;
  text-align: center;
  font-family: Poppins;
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.98px;
}

.card__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card__footer .card__footer__left {
  color: #4f505e;
  font-size: 14px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}

.card__footer__right button {
  border-radius: 12px;
  border: 1px solid #444fb7;
  background: #f9f9f9;
  padding: 9px 16px;
  color: #4f505e;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.content .content-paragraph {
  color: #151515;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding: 4% 0 4% 8%;
}



/* Caregiver Dashboard */

.caregiver {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0 0 0 250px;
  transition: padding 0.5s ease;
  margin: 10% 4%;
}
.caregiver__header {
  display: flex;
  gap: 20px;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 20px 20px 250px;
  border-top: 1px solid #e5e5e5;
  margin-left: 5%;
}
.caregiver__header h2 {
  color: #000;
  font-size: 20px;
  font-weight: 400;
}

.caregiver__body .top {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.caregiver__body label {
  color: #000;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.caregiver__body form input::placeholder {
  color: #969696;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.caregiver__body form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.caregiver__body form .side {
  display: flex;
  gap: 20px;
}

.caregiver__body form .space {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.caregiver__body form input {
  padding: 10px 20px;
  border-radius: 8px;
  outline: none;
  border: 1px solid #a8a9b4;
  background: #fff;
  width: 100%;
  color: #000;
  font-size: 16px;
  font-weight: 500;
  transition: all 0.3s ease;
}

.caregiver__footer {
  display: flex;
  gap: 20px;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px 20px 20px 250px;
  border-top: 1px solid #e5e5e5;
}

.caregiver__footer .cancel,
.caregiver__footer .save {
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}

.caregiver__footer .cancel {
  background: #f7f7fb;
  color: #000;
  border: none;
}

.caregiver__footer .save {
  border-radius: 8px;
  background: #4453b7;
  color: #fff;
  border: none;
  transition: all 0.3s ease;
}

/* Reminder dashboard styling */

.reminder {
  flex: 1;
  padding-left: 250px;
  transition: padding 0.5s ease;
}

.reminder h2 {
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.reminder .header {
  display: flex;
  gap: 30px;
  align-items: center;
  padding: 20px 20px 20px 250px;
  border-top: 1px solid #e5e5e5;
  margin-left: 5%;
}


.name__color {
  display: flex;
  gap: 20px;
}

.reminder__name {
  display: flex;
  flex-direction: column;
}

.reminder__name input {
  display: inline-flex;
height: 56px;
padding: 19px 141px 21px 16px;
align-items: center;
flex-shrink: 0;
border-radius: 4px;
border: 1px solid #A8A9B4;
background: #FFF;
}

.reminder__body {
  transition: padding 0.5s ease;
  margin: 4% 4% 0 4%;
}




.reminder__body form label {
  color: #000;
font-family: 'Inter', sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.color__tag {
  display: flex;
  flex-direction: column;
}

.color__tag div {
  display: inline-flex;
}

.days__time {
  display: flex;
  gap: 20px;
}

.set__days {
  display: flex;
  flex-direction: column;
}

.set__days .days {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.set__time .times {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.reminder__btns {
  display: flex;
  gap: 20px;
}

.reminder__btns button {
  padding: 10px 20px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
}

.reminder__btns .cancel {
  background: #f9f9f9;
  color: #4f505e;
  border: 1px solid #a8a9b4;
}

.reminder__btns .save {
  background: #444fb7;
  color: white;
  border: none;
}
